body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  width: 1440px;
  color: #2e2f42;
  background-color: #ffffff;
  margin: auto;
}
a {
  text-decoration: none;
  font-style: normal;
}
header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  height: 72px;
  padding: 24px 156px 24px 156px;
}

button {
  font-weight: 500;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  width: 170px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}
button:hover,
button:focus {
  cursor: pointer;
  background: #404bbf;
}
.list {
  display: flex;
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.navigation {
  width: 261px;
  height: 24px;
  margin-left: 76px;
}
.nav-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  margin-right: 40px;
}
.nav-header:hover,
.nav-header:focus {
  color: #404bbf;
}
.nav-header:active {
  padding-bottom: 20px;
  border-bottom: 4px solid #404bbf;
  border-radius: 2px;
}
.address {
  width: 344px;
  height: 24px;
  margin-left: 332px;
}
.address-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-right: 40px;
}
.address-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-mail:hover,
.address-tel:hover {
  color: #404bbf;
}
.why-us {
  margin: auto;
  margin: 120px 132px 120px 156px;
}
.why-us-list {
  margin-right: 24px;
  width: 264px;
  height: 104px;
}
.order .title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
}
.title-section-hidden {
  visibility: hidden;
  margin: 0px;
  font-size: 0px;
}

.title-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0px 0px 8px 0px;
}
.name-teammate {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 32px 0px 8px 0px;
}
.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  margin: 0px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.web {
  color: #4d5ae5;
}
.studio {
  color: #f4f4fd;
}
.order {
  text-align: center;
  height: 600px;
  background: #2e2f42;
}
.title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0px;
  padding: 188px 472px 48px 472px;
}

.our-team {
  background: #f4f4fd;
  height: 732px;
  text-align: center;
  color: #2e2f42;
  padding: 132px 156px 0px 156px;
}
.teammate {
  border-radius: 0 0 4px 4px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  margin: 72px 24px 0px 0px;
}
.our-portfolio {
  margin: auto;
  margin: 124px 156px 120px 156px;
  text-align: center;
}
.row1 {
  margin: 72px 0px 48px 0px;
}
.portfolio-list {
  margin-right: 26px;
  width: 360px;
  height: 420px;
}
.portfolio-name {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
  text-align: left;
}
footer {
  height: 312px;
  background: #2e2f42;
  padding: 100px 1020px 100px 156px;
}
.description-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
